@font-face {
  font-family: folio;
  src: url(./FolioStd-Light.otf); }
@font-face {
  font-family: tacite;
  src: url(./TACITE-TRIAL.ttf); }
.animate-enter {
  opacity: 0.01;
  transition-delay: .5s; }

.animate-enter.animate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out; }

.animate-leave {
  opacity: 1; }

.animate-leave-active {
  opacity: 0.01;
  transition: opacity 150ms; }

.animate-appear {
  opacity: 0.01; }

.animate-appear.animate-appear-active {
  opacity: 1;
  transition: opacity .85s ease-in; }

.animate-nav-appear {
  opacity: 0.01; }

.animate-nav-appear.animate-nav-appear-active {
  opacity: 1;
  transition: opacity .6s ease-in;
  transition-delay: .3s; }

@media only screen and (min-width: 1024px) {
  body {
    overflow: hidden; } }

.lot-photo__counter {
  position: fixed;
  bottom: 40px; }
.lot-photo__article__answer {
  font-family: 'serif';
  margin-top: 7px; }
.lot-photo__article__header {
  font-family: 'sans-serif';
  margin-bottom: 7px; }
.lot-photo__article .lot-photo__image {
  margin: 20px auto; }
.lot-photo__article__index {
  text-align: center; }
.lot-photo__article__info {
  margin-top: 25px;
  overflow: auto; }
  .lot-photo__article__info--left {
    float: left; }
    .lot-photo__article__info--left__name {
      text-transform: uppercase; }
  .lot-photo__article__info--right {
    float: right;
    text-align: right; }
  .lot-photo__article__info__desc {
    clear: both;
    font-family: 'serif';
    line-height: 17px;
    padding: 30px 0;
    white-space: pre-wrap; }
  .lot-photo__article__info__controls {
    padding: 20px 0; }
    .lot-photo__article__info__controls--previous {
      float: left; }
    .lot-photo__article__info__controls--next {
      float: right; }
.lot-photo__artist {
  font-family: 'tacite';
  color: #000;
  margin-bottom: 20px;
  text-decoration: none;
  z-index: 1; }
.lot-photo__artists-list {
  margin-top: 20px; }
  .lot-photo__artists-list > span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 530px;
    position: fixed;
    width: 100%; }
    .lot-photo__artists-list > span:before {
      content: '';
      background-color: #fff;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: .9; }
      @media only screen and (min-width: 1024px) {
        .lot-photo__artists-list > span:before {
          height: 100vh;
          width: 100vw;
          top: 10px;
          left: -50%; } }
.lot-photo__container {
  font-family: folio;
  font-size: 12px;
  padding: 10px 40px; }
  .lot-photo__container ul li {
    list-style: none; }
.lot-photo__nav ul {
  padding: 0; }
  .lot-photo__nav ul li {
    display: inline-block;
    text-transform: uppercase; }
    .lot-photo__nav ul li:nth-child(2) {
      float: right; }
    .lot-photo__nav ul li:nth-child(n+3) {
      display: none; }
.lot-photo__nav .lot-photo__menu-mobile {
  background-color: #f7f7f7;
  position: fixed;
  height: 100vh;
  right: 0;
  overflow: hidden;
  width: 0;
  top: 0;
  transition: width .3s; }
  .lot-photo__nav .lot-photo__menu-mobile ul li {
    display: block;
    float: none;
    margin: 25px 50px 0 0;
    width: auto;
    text-align: right; }
.lot-photo__nav.lot-photo__nav--active .lot-photo__menu-mobile {
  display: block;
  width: 50%; }
.lot-photo__image {
  margin: 80px auto;
  height: auto;
  width: auto;
  max-width: 375px; }
  .lot-photo__image img {
    height: 100%;
    width: 100%; }
.lot-photo__number {
  font-family: 'sans-serif';
  padding-right: 3px; }
@media only screen and (min-width: 768px) {
  .lot-photo__container {
    position: relative; } }
@media only screen and (min-width: 1024px) {
  .lot-photo__article {
    display: flex;
    margin: 60px 0 0 120px;
    width: auto; }
    .lot-photo__article .lot-photo__image {
      margin: 0 0 0 30px;
      height: 100%;
      width: 33%; }
      .lot-photo__article .lot-photo__image:hover {
        cursor: pointer; }
    .lot-photo__article__index {
      order: -1;
      width: auto; }
    .lot-photo__article__info {
      margin: 0 0 0 100px;
      overflow: visible;
      padding-top: 1px;
      width: 36%; }
      .lot-photo__article__info__controls {
        padding: 0; }
        .lot-photo__article__info__controls__wrapper {
          position: fixed;
          bottom: 45px;
          right: 60px; }
          .lot-photo__article__info__controls__wrapper .lot-photo__article__info__controls--next:hover {
            cursor: pointer; }
          .lot-photo__article__info__controls__wrapper .lot-photo__article__info__controls--previous {
            margin-right: 40px; }
            .lot-photo__article__info__controls__wrapper .lot-photo__article__info__controls--previous:hover {
              cursor: pointer; }
      .lot-photo__article__info__desc {
        overflow: scroll;
        height: 295px; }
  .lot-photo__artists-list {
    margin-top: 0; }
  .lot-photo__container {
    padding: 30px 60px 0;
    overflow: hidden; }
  .lot-photo__image {
    margin: 140px 0 0; }
    .lot-photo__image:hover {
      cursor: pointer; }
  .lot-photo__menu-mobile {
    display: none; }
  .lot-photo__artist {
    margin: 0 20px 5px 0; }
  .lot-photo__artists-list {
    position: absolute; }
    .lot-photo__artists-list > span {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 155px;
      width: 550px; }
  .lot-photo__nav.lot-photo__nav--active .lot-photo__menu-mobile {
    display: none; }
  .lot-photo__nav ul {
    display: flex; }
    .lot-photo__nav ul li:nth-child(n+3) {
      display: inline-block; }
    .lot-photo__nav ul li:first-child {
      margin-right: 60px; }
    .lot-photo__nav ul li:nth-child(2) {
      display: none; }
    .lot-photo__nav ul li:nth-child(3) {
      margin-right: 60px; }
    .lot-photo__nav ul li:nth-child(5) {
      margin: 0 0 0 auto; }
    .lot-photo__nav ul li:hover {
      cursor: pointer; } }

/*# sourceMappingURL=App.css.map */
